.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  display: flex;
  text-align: center;
  color: #444;
  font-weight: 500;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 60rem;
}