.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 2px solid #222;
}

.text {
  display: flex;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}
