.container {
    width: auto;
    height: auto;

    min-height: 150vh;
    max-width: 100vw;

    background-color: #444;
    background-size: 100%;
    background-image: url("../public/background.png");
    background-position: bottom;
    background-attachment: fixed !important;
    background-size: cover;
}